version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    # depends_on permet d'attendre que la base soit démarrée avant le backend

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "4200:80"

  db:
    image: postgres:14
    restart: always
    environment:
      POSTGRES_DB: blog
      POSTGRES_USER: toto
      POSTGRES_PASSWORD: passer
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    # Service PostgreSQL pour le backend Django
    # Les variables d'environnement définissent la base, l'utilisateur et le mot de passe
    # Les données sont persistées dans le volume 'postgres_data'
    # Le port 5432 est exposé pour un accès local éventuel

volumes:
  postgres_data:
    # Volume pour persister les données PostgreSQL
